.new-expense_wraper{
    width: 80%;
    padding: 20px;
    margin: auto;
    
}
.expense-form_wraper{
    display: flex;
}

.form_controls{
    width: 25%;
    /* float: left; */
}

.form_controls input{
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 5px;

}

.form_controls label{
    padding: 10px;
}

.btn{
    background: chartreuse;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}